<div class="info-panel">
    <div class="table-row">
        <div class="scroll-top table-cell"></div>
        <div class="scroll-body table-cell">
            <div class="info">
                <div class="info-header">Legend</div>
                <div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="legend-cell player"></div>
                        </div>
                        <div class="table-cell">
                            <label class="legend-label">You</label>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><div class="legend-cell monster"></div></div>
                        <div class="table-cell"><label class="legend-label">Monster</label></div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><div class="legend-cell weapon"></div>
                        </div><div class="table-cell"><label class="legend-label">Weapon</label></div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><div class="legend-cell health"></div></div>
                        <div class="table-cell"><label class="legend-label">Health Potion</label></div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="legend-cell boss"></div></div>
                        <div class="table-cell"><label class="legend-label">Boss</label></div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><div class="legend-cell stairs"></div></div>
                        <div class="table-cell"><label class="legend-label">Stairs</label></div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="scroll-end table-cell"></div>
    </div>
</div>